@use "sass:math";
@import "variables";

.Main {
  display: block;

  @media (min-width: $item-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  margin: $page-margin;
}

.Content {
  width: 100%;
}
