@import "variables";

.SidebarList {
  margin: 0;
  margin-top: 16px;
  margin-bottom: $sidebar-vertical-margin;
  padding: 0;

  list-style-type: none;

  font-size: 1.2rem;
}

.SidebarListItem {
  @include text-font();
  line-height: 1.15;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &::before {
    content: "\2022";
    color: rgb(128, 128, 128);
    font-size: 14px;

    margin-right: 6px;
  }
}
